<% if (recipe && recipe.length > 0) { %> <% recipe.map((recipeItem, index) => {
%>

<div class="recipe-card">
  <img
    src="<%= recipeItem.strMealThumb %>"
    alt="<%= recipeItem.strMeal %>"
    class="recipe-thumb"
  />
  <h3 class="recipe-title" style="text-decoration: none; color: aliceblue">
    <%= recipeItem.strMeal %>
  </h3>

  <div class="card-features">
    <div class="see-more">
      <a
        href="/recipe/<%= recipeItem.idMeal %>"
        style="text-decoration: none"
        style="padding: 1vw"
        ><h5 style="color: black; margin: 0">See more..</h5></a
      >
    </div>
    <% if (authenticated) { %>
    <a
      class="add-to-fav see-more"
      id="addToFavButton"
      data-mealid="<%= recipeItem.idMeal %>"
      style="padding: 0.5vw 1vw"
    >
      Fav
    </a>
    <% } %>
  </div>
</div>
<% }); %> <% } else { %>
<h1>No recipes found for this query.</h1>
<% } %>

<script>
  document.querySelectorAll(".add-to-fav").forEach((button) => {
    button.addEventListener("click", async (e) => {
      const mealId = button.getAttribute("data-mealid");

      console.log("Sending mealId:", mealId);
      try {
        const response = await fetch("/add-to-favorites", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ mealId: mealId }), // Stringify the body object
        });
        if (response.ok) {
          // Handle success, maybe update UI to indicate the recipe is added to favorites
          console.log("Done:", mealId);
          button.style.color = "orange";
        } else {
          // Handle error
          console.error("Failed to add recipe to favorites");
        }
      } catch (error) {
        console.error("Error:", error);
      }
    });
  });
</script>
